body {
    background-image: url(../img/bg.png);
    background-size: cover;
    color: white;
}
h1{
    font-variant: small-caps;
}
h3{
    padding: 4rem;
}
.fekete{
    background: black;
}
p{
    text-align: justify;
}
#logo{
    width: 100px;
}